/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 1.5rem 3rem 1.5rem;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
nav img {
  max-width: 20%;
}
@media (max-width: 500px) {
  nav img {
    max-width: 80%;
  }
}
nav .nav-items {
  display: flex;
}
@media (max-width: 500px) {
  nav .nav-items {
    flex-direction: column;
    text-align: center;
  }
}
nav .nav-items a {
  font-size: 2.2em;
  font-family: sans-serif;
  color: #0088ff;
  margin-left: 3rem;
  margin-right: 3rem;
}
@media (max-width: 500px) {
  nav .nav-items a {
    margin-top: 5.5%;
    padding-bottom: 2.5%;
    border-bottom: 1px solid #0088ff;
  }
}
nav .menuBtn {
  font-size: 2.4rem;
  color: #0088ff;
  padding: 10px;
  display: none;
}
.menu-items {
  display: none;
  position: fixed;
  top: 75px;
  right: 0;
  width: 350px;
  background-color: white;
  border: none;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
@media (max-width: 500px) {
  .menu-items {
    margin: 70px auto 0;
    left: 0;
  }
}
.menu-items ul li {
  list-style-type: none;
  font-size: 2.2rem;
  padding: 30px 0;
  text-align: center;
}
.menu-items ul li a {
  color: #0088ff;
}
.menu--open {
  display: block;
}
footer {
  font-size: 1.6em;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  padding-top: 7rem;
  padding-bottom: 6rem;
  background: black;
}
footer .social-icons {
  margin-bottom: 5rem;
}
footer .social-icons a {
  color: white;
  font-size: 1.4em;
  margin-left: 0.6rem;
  margin-right: 0.6re;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
main .resourceIntro {
  display: flex;
  justify-content: flex-start;
  margin: 20px auto 0;
  width: 90%;
}
main .resourceIntro p {
  font-size: 1.8rem;
  color: #262626;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
main .resourceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
}
main .resourceList h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 20px;
}
main .resourceList h2 a {
  color: #06059e;
}
main .resourceList div {
  margin: 0 10px 30px;
  width: 90%;
}
main .resourceList div p {
  color: #262626;
  font-size: 1.8rem;
  margin: 0 auto;
}
main .resourceList .resourceRight {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  main .resourceList .resourceRight {
    flex-direction: column-reverse;
  }
}
main .resourceList .resourceRight div {
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  main .resourceList .resourceRight div {
    width: 95%;
  }
}
main .resourceList .resourceRight h2 {
  text-align: right;
}
@media (max-width: 800px) {
  main .resourceList .resourceRight h2 {
    text-align: left;
  }
}
main .resourceList .resourceRight .logo-img {
  width: 50%;
}
main .resourceList .resourceRight .logo-img img {
  width: 90%;
  margin: 0 auto;
}
main .resourceList .resourceLeft {
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  main .resourceList .resourceLeft {
    flex-direction: column;
  }
}
main .resourceList .resourceLeft div {
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 500px) {
  main .resourceList .resourceLeft div {
    width: 95%;
  }
}
main .resourceList .resourceLeft .logo-img {
  width: 50%;
}
main .resourceList .resourceLeft .logo-img img {
  width: 90%;
  padding-left: 7%;
  margin: 0 auto;
}
.headerImg {
  width: 100%;
}
.header-img {
  width: 100%;
  height: auto;
}
.site-wrapper {
  flex: 1 0 auto;
}
section {
  display: flex;
}
@media (max-width: 500px) {
  section {
    flex-direction: column;
  }
}
section .subheading {
  display: flex;
  justify-content: center;
}
section h2 {
  font-size: 2.4em;
  font-family: 'Open Sans', sans-serif;
  color: #262626;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
section p {
  font-size: 1.8em;
  font-family: 'EB Garamond', sans-serif;
  color: #262626;
  line-height: 3.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
  margin-top: 5rem;
  font-size: 2.8em;
  font-family: 'Open Sans', sans-serif;
}
.btn a {
  background: black;
  border-radius: 0.2rem;
  padding: 2rem 3rem;
  color: white;
  animation: btn-glow-reverse 400ms;
}
.btn a:hover {
  animation: btn-glow 300ms forwards;
}
@keyframes btn-glow {
  0% {
    box-shadow: 0 0 0 #0088ff;
  }
  40% {
    box-shadow: 0 0 0.5rem #0088ff;
  }
  60% {
    box-shadow: 0 0 1rem #0088ff;
  }
  100% {
    box-shadow: 0 0 1.5rem #0088ff;
  }
}
@keyframes btn-glow-reverse {
  0% {
    box-shadow: 0 0 1.5rem #0088ff;
  }
  40% {
    box-shadow: 0 0 1rem #0088ff;
  }
  60% {
    box-shadow: 0 0 0.5rem #0088ff;
  }
  100% {
    box-shadow: 0 0 0 #0088ff;
  }
}
.about-page-body .header-photo {
  width: 100%;
}
@media (max-width: 800px) {
  .about-page-body .header-photo {
    width: 98%;
    margin-left: 1%;
  }
}
@media (max-width: 500px) {
  .about-page-body .header-photo {
    width: 90%;
    margin-left: 5%;
  }
}
.about-page-body h1 {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: #06059E;
}
@media (max-width: 800px) {
  .about-page-body h1 {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .about-page-body h1 {
    font-size: 4rem;
  }
}
.about-page-body .about-page-main {
  margin: 0 auto;
  max-width: 1000px;
}
.about-page-body .about-page-main .developers {
  display: flex;
  flex-direction: column;
}
.about-page-body .about-page-main h2 {
  font-size: 4rem;
  text-align: center;
  margin: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  .about-page-body .about-page-main h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .about-page-body .about-page-main h2 {
    font-size: 2rem;
  }
}
.about-page-body .about-page-main .UI-Devs {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  border-top: 5px solid black;
}
.about-page-body .about-page-main .UI-Devs .dev {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .about-page-body .about-page-main .UI-Devs .dev {
    height: 40%;
  }
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .UI-Devs .dev {
    flex-direction: column;
    height: 35%;
  }
}
.about-page-body .about-page-main .UI-Devs h3 {
  font-size: 1.7rem;
  margin-bottom: 3%;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .UI-Devs h3 {
    text-align: center;
  }
}
.about-page-body .about-page-main .UI-Devs p {
  font-size: 1.4rem;
  margin-left: 5%;
}
.about-page-body .about-page-main .UI-Devs .name-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}
@media (max-width: 800px) {
  .about-page-body .about-page-main .UI-Devs .name-description {
    width: 65%;
  }
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .UI-Devs .name-description {
    width: 100%;
    padding: none;
  }
}
.about-page-body .about-page-main .hawke-photo {
  width: 60%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .hawke-photo {
    width: 90%;
    padding-right: 0%;
  }
}
.about-page-body .about-page-main .photo1 {
  width: 100%;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .photo1 {
    width: 83%;
    margin-left: 16%;
  }
}
.about-page-body .about-page-main .neha-photo {
  width: 70%;
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .neha-photo {
    width: 90%;
    padding-right: 0%;
  }
}
.about-page-body .about-page-main .photo2 {
  width: 90%;
  margin-left: 5%;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .about-page-body .about-page-main .photo2 {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .photo2 {
    width: 80%;
    margin-left: 15%;
  }
}
.about-page-body .about-page-main .photo3 {
  width: 100%;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .photo3 {
    width: 70%;
    height: 80%;
    margin-left: 15%;
  }
}
.about-page-body .about-page-main .dev2 {
  flex-direction: row-reverse;
}
.about-page-body .about-page-main .bottom-developers {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 5px solid black;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-page-body .about-page-main .bottom-developers {
    flex-direction: column;
  }
}
.about-page-body .about-page-main .bottom-dev {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-page-body .about-page-main .bottom-dev h3 {
  font-size: 1.7rem;
  margin: 5px;
  text-align: center;
}
.about-page-body .about-page-main .bottom-dev p {
  font-size: 1.4rem;
  margin: 5px;
}
.about-page-body .about-page-main .bottom-dev .photo4 {
  width: 95%;
  border-radius: 50%;
  margin-left: 3%;
}
.about-page-body .about-page-main .bottom-dev .photo5 {
  width: 90%;
  border-radius: 50%;
  margin-left: 7%;
}
