/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 15px 30px 15px;
}
nav img {
  max-width: 25%;
}
nav .nav-items {
  display: flex;
}
nav .nav-items a {
  font-size: 24px;
  font-family: sans-serif;
  color: #0088ff;
  margin-left: 1.5em;
  margin-right: 1.5em;
}
html {
  font-size: 62.5%;
}
.about-page-body {
  margin: 0 auto;
  max-width: 1000px;
}
.about-page-body .header-photo {
  width: 100%;
}
@media (max-width: 500px) {
  .about-page-body .header-photo {
    width: 90%;
    margin-left: 5%;
  }
}
.about-page-body h1 {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  color: #06059E;
}
@media (max-width: 500px) {
  .about-page-body h1 {
    font-size: 4rem;
  }
}
.about-page-body h2 {
  font-size: 4rem;
  text-align: center;
  margin: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-page-body h2 {
    font-size: 2rem;
  }
}
.about-page-body .UI-Devs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 5px solid black;
  padding-top: 5%;
}
.about-page-body .UI-Devs .dev {
  width: 98%;
  height: 380px;
  display: flex;
}
@media (max-width: 500px) {
  .about-page-body .UI-Devs .dev {
    flex-direction: column;
  }
}
.about-page-body .UI-Devs h3 {
  font-size: 1.7rem;
  margin-bottom: 3%;
}
@media (max-width: 500px) {
  .about-page-body .UI-Devs h3 {
    text-align: center;
  }
}
.about-page-body .UI-Devs p {
  font-size: 1.4rem;
}
.about-page-body .photo1 {
  width: 100%;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .about-page-body .photo1 {
    width: 60%;
    margin-left: 20%;
  }
}
.about-page-body .photo4 {
  width: 100%;
  height: 90%;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .about-page-body .photo4 {
    width: 60%;
    margin-left: 20%;
  }
}
.about-page-body .photo-struggle {
  width: 80%;
}
.about-page-body .photo2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .about-page-body .photo2 {
    width: 70%;
    height: 80%;
    margin-left: 25%;
  }
}
.about-page-body .name-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 500px) {
  .about-page-body .name-description {
    padding: none;
  }
}
.about-page-body .dev2 {
  flex-direction: row-reverse;
}
.about-page-body .bottom-developers {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 5px solid black;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .about-page-body .bottom-developers {
    flex-direction: column;
  }
}
.about-page-body .bottom-dev {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-page-body .bottom-dev h3 {
  font-size: 1.7rem;
  margin: 5px;
  text-align: center;
}
.about-page-body .bottom-dev p {
  font-size: 1.4rem;
  margin: 5px;
}
.about-page-body .bottom-dev .photo3 {
  width: 80%;
  border-radius: 50%;
  margin-left: 10%;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background: black;
  color: white;
}
footer a {
  color: white;
}
