body{
    margin: 0 auto;
    max-width: 1000px;
    .UI-Devs {
        display: flex;
        justify-content: space-between;

    .dev {
        border: 1px solid red;
        flex-basis: column;
        width:30%;
        justify-content: center;
        height: 300px;

        .individual-photos {
            width: 80%;
            border-radius: 50%;
        }
    }
    
    }

}