.about-page-body{
    margin: 0 auto;
    max-width: 1000px;


       .header-photo{
           width: 100%;

           @media @tablet {
            width: 98%; 
            margin-left: 1%;  
           }

           @media @mobile {
              width: 90%; 
              margin-left: 5%; 
           }
       } 


    h1{
        font-size: 6rem;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        color: #06059E;

        @media @tablet {
            font-size: 5rem; 
           }

        @media @mobile {
            font-size: 4rem;
        }
    }

    .developers{
        flex-direction: column;

    }

    h2{
        font-size: 4rem; 
        text-align: center; 
        margin: 10px;
        margin-top: 5%;
        margin-bottom: 5%;

        @media @tablet {
            font-size: 3rem; 
           }

        @media @mobile {
            font-size: 2rem;
        }
    }

    .UI-Devs {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 5px solid black;
        padding-top: 5%;


    .dev {
        //border: 1px solid red;
        width:98%;
        display: flex;

        @media @tablet {
            height: 40%; 
           }

        @media @mobile {
           flex-direction: column; 
           height: 35%;
        }

        }

        h3 {
            font-size: 1.7rem;
            margin-bottom: 3%;

            @media @mobile {
                text-align: center;
            }
        }

        p {
            font-size: 1.4rem;
        }
       
    }
    .photo1{
        width: 100%;
        border-radius: 50%;


        @media @mobile {
            width: 80%;
            margin-left: 20%;
        }
        
    }
    .photo4{
         width: 100%;
         height: 90%;
        border-radius: 50%;

        @media @tablet {
            width: 90%;
           }

        @media @mobile {
            width: 60%;
            // height: 90%;
            margin-left: 20%;
        }
        
    }

    .photo-struggle{
        width: 80%;

        @media @tablet {
            width: 80%;
           }
    }


    .photo2{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        //margin-left: 300px;

        

        @media @mobile {
            width: 70%;
            height: 80%;
            margin-left: 25%;
        }
    }


    .name-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        //border: 1px solid red;


        @media @tablet {
            width: 65%;
           }

        @media @mobile {
            width:100%;
            padding: none;
        }
    
    }

    .dev2{
        flex-direction: row-reverse;
    }
    

    .bottom-developers{
        //border: 1px solid red;  
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        border-top: 5px solid black;
        margin-bottom: 5%;

        @media @mobile {
            flex-direction: column;
        }
    }

    .bottom-dev{
        //border: 1px solid red;
        width: 98%;
        display: flex;
        flex-direction: column;
        justify-content: center;

       h3{
           font-size: 1.7rem;
           margin: 5px;
           text-align: center;
       }

       p{
           font-size: 1.4rem;
           margin: 5px;
       }

       .photo3{
           width: 80%;
           border-radius: 50%;
           margin-left: 10%;
       }
    }

}