nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    // outline: red solid 2px;
    max-width: 25%;
    // margin-top: 15px;
    // margin-left: 15px;
    // margin-bottom: 30px;
  }
  .nav-items {
    display: flex;

    a {
      font-size: 26px;
      font-family: sans-serif;
      color: @flightBlue;
      margin-left: .5em;
      margin-right: .5em;
    }
  }
}
