nav {
  // outline: red solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1.5rem 1.5rem 3rem 1.5rem;

  img {
    max-width: 25%;
  }
  .nav-items {
    display: flex;

    a {
      font-size: 2.4em;
      font-family: sans-serif;
      color: @flightBlue;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
}
